<html>
<head> 
<title> ToDo App </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link href="/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/icons8-to-do-100.png"/>
</head>
<body>
    <div class="container p-5">
        <h1 class="text-center">A Simple ToDo List Web Application</h1>
        <hr class="mb-5" />
        <form method="POST">
            <div class="form-group">
                <div class="row text-center mb-4">
                    <div class="col-md-8 col-8">
                        <input type="text" name="newtask" placeholder="Add New Task" class="form-control">
                    </div>
                    <div class="col-md-4 col-4">
                        <button formaction="/addtask" type="submit" class="btn btn-primary">Add Task</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h2>Added Tasks</h2>
                <ul>
                    <% for( var i = 0; i < task.length; i++){ %>
                        <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
                    <% } %>
                </ul>
                <button formaction="/removetask" type="submit" class="btn btn-danger">Remove Task</button>
            </div>
        </form>
        <h2>Completed Tasks</h2>
        <ul>
            <% for(var i = 0; i < complete.length; i++){ %>
                <li><input type="checkbox" checked disabled><%= complete[i] %> </li>
            <% } %>
        </ul>
    </div>
</body>
</html>